@import url("https://use.fontawesome.com/releases/v5.11.2/css/all.css");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap&subset=latin-ext");

html {
	font: 16px/1.5 "Open Sans",
		"Segoe UI Symbol",
		sans-serif;
}

h3 {
	margin-bottom: 0.25em;
}

p {
	margin-bottom: 0.5em;

	&.checkbox-label {
		margin-bottom: 0;
	}
}

a {
	text-decoration: none;
	color: orangered;

	&:hover {
		color: var(--checkbox-main-color);
	}
}